.cta-btn {
  color: #fff;
  background-color: transparent;
  border: 2px solid #087f5b;
  margin-left: 5%;
  margin-top: 6rem;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  font-family: "Robote-Black";
  cursor: pointer;
  font-size: 2rem;
  box-shadow: 3px -3px 10px 0 #ffffff40;
}

.cta-btn:hover {
  color: #fff;
  background-color: #087f5b;
  border: 2px solid #087f5b;
}
