.cta-btn {
  color: #219653;
  background-color: transparent;
  border: 3px solid #6fcf97;
  margin-left: 5%;
  margin-top: 3rem;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  font-family: "Robote-Black";
  cursor: pointer;
}
