.card-item {
}

.card-item-image {
  max-width: auto;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem;
}

.card-item-title {
  font-family: "Robote-Black";
  margin-top: 2.4rem;
  padding-inline: 3%;
  color: #0d4625;
}

.card-item .cta-btn {
  margin-inline: 0;
  padding-inline: 3%;
}
