.section-blog-post {
  padding-top: 16rem;
}

.blog-post-img {
  width: 75%;
  height: 60rem;
  object-fit: cover;
}

.blog-post-title-and-date-wrapper {
}

.blog-post-title {
}

.blog-post-published-date {
}

.blog-post-description {
}

.blog-post-author {
}
