.section-navigation {
  position: absolute;
  width: 100%;
  margin-top: 3rem;
}

.logo {
  margin-right: auto;
  font-size: 2.4rem;
}

.nav-bar {
  display: flex;
  column-gap: 4rem;
}

.nav-bar a {
  text-decoration: none;
  color: #0d4625;
  font-family: "Robote-Black";
}

.nav-bar a:not(.logo) {
  font-size: 1.8rem;
  text-decoration: 1px underline #0d4625;
}

.nav-bar a:not(.logo):hover {
  font-size: 1.8rem;
  color: #0d462580;
  text-decoration: 1px underline #0d462580;
}
